bai2/WindowsFormsApp1/WindowsFormsApp1/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phong" nillable="true" type="tns:Phong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhong" nillable="true" type="tns:ArrayOfPhong" />
  <xs:complexType name="Phong">
    <xs:sequence>
      <xs:element minOccurs="0" name="maph" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenph" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phong" nillable="true" type="tns:Phong" />
  <xs:complexType name="ArrayOfChucvu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chucvu" nillable="true" type="tns:Chucvu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChucvu" nillable="true" type="tns:ArrayOfChucvu" />
  <xs:complexType name="Chucvu">
    <xs:sequence>
      <xs:element minOccurs="0" name="macv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tencv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tientc" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chucvu" nillable="true" type="tns:Chucvu" />
  <xs:complexType name="ArrayOfNhanVien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhanVien" nillable="true" type="tns:NhanVien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhanVien" nillable="true" type="tns:ArrayOfNhanVien" />
  <xs:complexType name="NhanVien">
    <xs:sequence>
      <xs:element minOccurs="0" name="luong" type="xs:double" />
      <xs:element minOccurs="0" name="macv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="manv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maph" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngaysinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tennv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhanVien" nillable="true" type="tns:NhanVien" />
  <xs:complexType name="ArrayOfReportData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportData" nillable="true" type="tns:ReportData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportData" nillable="true" type="tns:ArrayOfReportData" />
  <xs:complexType name="ReportData">
    <xs:sequence>
      <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="luong" type="xs:double" />
      <xs:element minOccurs="0" name="manv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tencv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenph" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportData" nillable="true" type="tns:ReportData" />
</xs:schema>